{% for item in nginx_vhost_upstreams %}
  upstream {{ item.name }} {
  {% if item.proxy_pass is defined %}
    server {{ item.proxy_pass|indent(4) }};
  {% endif %}
  }
{% endfor %}


{% for vhost in nginx_vhosts %}
server {
    {% if vhost.server_name is defined %}
    server_name {{ vhost.server_name|indent(4) }};
    {% endif %}

    {% if vhost.listen is defined %}
    {{ vhost.listen|indent(4) }}
    {% endif %}

    {% if nginx_add_security_header %}
      # don't send the nginx version number in error pages and Server header
      server_tokens off;

      # ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options
      add_header X-Frame-Options SAMEORIGIN;

      # ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options
      add_header X-Content-Type-Options nosniff always;

      # ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection
      add_header X-Xss-Protection "1; mode=block" always;

      # ref: https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
    {% endif %}

    {% if vhost.extra_parameters is defined %}
      {{ vhost.extra_parameters|indent(4) }}
    {% endif %}
}
{% endfor %}
